.logo-rotate {
    animation: rotateAnimation 5s linear infinite;
    transform-origin: center;
  }
  
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
  
  @keyframes bounceAnimation {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .logo-bounce {
    animation-name: bounceAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  

  @keyframes scaleAnimation {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  .logo-scale {
    animation-name: scaleAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  